Repository kintone/js-sdk, pull requests merged in 2021-08, with the labels that each got.

#1046 refactor(plugin-uploader): remove `--domain` option and `KINTONE_DOMAIN` (BREAKING CHANGE)
  packages/plugin-uploader/README.md
  packages/plugin-uploader/bin/cli.js
  packages/plugin-uploader/src/index.ts
  packages/plugin-uploader/src/messages.ts
  packages/plugin-uploader/src/params.ts
Labels: pkg: plugin-uploader

#1047 refactor(customize-uploader): remove --domain option and KINTONE_DOMAIN (BREAKING CHANGE)
  packages/customize-uploader/README.md
  packages/customize-uploader/bin/cli.js
  packages/customize-uploader/src/KintoneApiClient.ts
  packages/customize-uploader/src/commands/import.ts
  packages/customize-uploader/src/commands/index.ts
  packages/customize-uploader/src/messages.ts
  packages/customize-uploader/src/params/index.ts
Labels: pkg: customize-uploader

#1048 refactor(dts-gen): remove --host, --proxyHost and --proxyPort options (BREAKING CHANGE)
  packages/dts-gen/docs/maintenance-guide.md
  packages/dts-gen/package.json
  packages/dts-gen/src/cli-parser.test.ts
  packages/dts-gen/src/cli-parser.ts
  packages/dts-gen/src/integration-tests/setup-test-app.ts
  packages/dts-gen/src/kintone/clients/axios-utils.test.ts
  packages/dts-gen/src/kintone/clients/axios-utils.ts
  packages/dts-gen/src/kintone/clients/forms-client-impl.test.ts
Labels: pkg: dts-gen

#1065 fix(rest-api-client): validate guestSpaceId
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/__tests__/KintoneRestAPIClient.test.ts
Labels: pkg: rest-api-client
