Repository kintone/js-sdk, pull requests merged in 2021-03, with the labels that each got.

#752 docs(rest-api-client): insert `updateGeneralNotifications` into TOC
  packages/rest-api-client/docs/app.md
Labels: pkg: rest-api-client

#750 fix(rest-api-client): remove unnecessary props from Notification APIs
  examples/rest-api-client-demo/src/app.ts
  packages/rest-api-client/src/client/__tests__/AppClient.test.ts
  packages/rest-api-client/src/client/types/app/notification.ts
Labels: pkg: rest-api-client

#751 fix(rest-api-client): fix ReminderNotificationForResponse type
  packages/rest-api-client/src/client/types/app/notification.ts
Labels: pkg: rest-api-client

#735 feat(rest-api-client): implements GET /k/v1/app/reports.json
  examples/rest-api-client-demo/src/app.ts
  packages/rest-api-client/docs/app.md
  packages/rest-api-client/src/client/AppClient.ts
  packages/rest-api-client/src/client/__tests__/AppClient.test.ts
  packages/rest-api-client/src/client/types/app/index.ts
  packages/rest-api-client/src/client/types/app/report.ts
Labels: feature, pkg: rest-api-client

#731 feat(rest-api-client): implement PUT /k/v1/app/reports.json
  examples/rest-api-client-demo/src/app.ts
  packages/rest-api-client/docs/app.md
  packages/rest-api-client/src/client/AppClient.ts
  packages/rest-api-client/src/client/__tests__/AppClient.test.ts
  packages/rest-api-client/src/client/types/app/report.ts
Labels: feature, pkg: rest-api-client

#719 feat(data-loader): Support CSV format
  packages/data-loader/README.md
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/commands/import.ts
  packages/data-loader/src/controllers/__tests__/import.test.ts
  packages/data-loader/src/controllers/export.ts
  packages/data-loader/src/controllers/import.ts
  packages/data-loader/src/parser.ts
  packages/data-loader/src/parsers/__tests__/csvParser.test.ts
  packages/data-loader/src/parsers/__tests__/fixtures/fields.json
  packages/data-loader/src/parsers/__tests__/fixtures/output.json
  packages/data-loader/src/parsers/csvParser.ts
  packages/data-loader/src/parsers/index.ts
  packages/data-loader/src/parsers/jsonParser.ts
  packages/data-loader/src/printers/__tests__/csvPrinter.test.ts
  packages/data-loader/src/printers/__tests__/fixtures/records.json
  packages/data-loader/src/printers/csvPrinter.ts
  packages/data-loader/src/printers/index.ts
  packages/data-loader/src/printers/jsonPrinter.ts
Labels: pkg: data-loader

#763 feat(rest-api-client): Support graph settings API
  examples/rest-api-client-demo/src/app.ts
  packages/rest-api-client/docs/app.md
  packages/rest-api-client/src/client/AppClient.ts
  packages/rest-api-client/src/client/__tests__/AppClient.test.ts
  packages/rest-api-client/src/client/types/app/index.ts
  packages/rest-api-client/src/client/types/app/report.ts
Labels: feature, pkg: rest-api-client
