Repository kintone/js-sdk, pull requests merged in 2021-04, with the labels that each got.

#791 docs(data-loader): adjust options in README.md
  packages/data-loader/README.md
Labels: pkg: data-loader

#799 fix(customize-uploader): pass guestSpaceId to KintoneRestAPIClient
  packages/customize-uploader/src/KintoneApiClient.ts
Labels: pkg: customize-uploader

#806 feat(create-plugin): update all dependencies in scaffolding projects
  packages/create-plugin/templates/minimum/package.json.tmpl
  packages/create-plugin/templates/modern/package.json.tmpl
Labels: pkg: create-plugin

#814 docs: delete incorrect description in notifications property
  packages/rest-api-client/docs/app.md
Labels: pkg: rest-api-client

#819 refactor(data-loader): use ReadableStream instead of readFile
  packages/data-loader/src/controllers/import.ts
Labels: pkg: data-loader

#828 feat(data-loader): enhance CLI help message (type and requirement of arguments)
  packages/data-loader/README.md
  packages/data-loader/src/__tests__/main.test.ts
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/commands/import.ts
  packages/data-loader/src/controllers/export.ts
Labels: feature, pkg: data-loader

#822 feat(rest-api-client): add an option to set a custom User-Agent string in Node.js environment
  packages/rest-api-client/README.md
  packages/rest-api-client/src/KintoneRequestConfigBuilder.ts
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/__tests__/KintoneRequestConfigBuilder.test.ts
  packages/rest-api-client/src/platform/index.ts
  packages/rest-api-client/src/platform/node.ts
Labels: pkg: rest-api-client

#833 feat(rest-api-client): Support App Action Settings API
  examples/rest-api-client-demo/src/app.ts
  packages/rest-api-client/docs/app.md
  packages/rest-api-client/src/client/AppClient.ts
  packages/rest-api-client/src/client/__tests__/AppClient.test.ts
  packages/rest-api-client/src/client/types/app/action.ts
  packages/rest-api-client/src/client/types/app/index.ts
  packages/rest-api-client/src/client/types/app/report.ts
Labels: feature, pkg: rest-api-client

#854 docs(rest-api-client): add "or `null`" for nullable properties in Type column
  packages/rest-api-client/docs/app.md
  packages/rest-api-client/docs/record.md
Labels: pkg: rest-api-client
