Repository kintone/js-sdk, pull requests merged in 2021-05, with the labels that each got.

#760 feat(data-loader): Support fields in table with CSV
  packages/data-loader/README.md
  packages/data-loader/src/controllers/export.ts
  packages/data-loader/src/controllers/import.ts
  packages/data-loader/src/parsers/__tests__/csvParser.test.ts
  packages/data-loader/src/parsers/csvParser.ts
  packages/data-loader/src/parsers/index.ts
  packages/data-loader/src/parsers/jsonParser.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/convertToKintoneRecordFormatValue.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/convertToKintoneRecordsForParameter.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/extractSubtableFieldsValue.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/expected.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/fields.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/subtable_expected.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/subtable_fields.json
  packages/data-loader/src/parsers/parseCsv/__tests__/isImportSupportedFieldType.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/parseCsv.test.ts
  packages/data-loader/src/parsers/parseCsv/convertToKintoneRecordFormatValue.ts
  packages/data-loader/src/parsers/parseCsv/convertToKintoneRecordsForParameter.ts
  packages/data-loader/src/parsers/parseCsv/extractSubtableFieldsValue.ts
  packages/data-loader/src/parsers/parseCsv/index.ts
  packages/data-loader/src/parsers/parseCsv/isImportSupportedFieldType.ts
  packages/data-loader/src/parsers/parseJson.ts
  packages/data-loader/src/printers/__tests__/csvPrinter.test.ts
  packages/data-loader/src/printers/csvPrinter.ts
  packages/data-loader/src/printers/index.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/buildHeaderFields.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/convertKintoneRecordsToCsv.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/encloseInDoubleQuotes.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/escapeDoubleQuotes.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/extractFieldValue.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/input.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_input.json
  packages/data-loader/src/printers/printAsCsv/__tests__/hasSubtable.test.ts
  packages/data-loader/src/printers/printAsCsv/buildHeaderFields.ts
  packages/data-loader/src/printers/printAsCsv/constants.ts
  packages/data-loader/src/printers/printAsCsv/convertKintoneRecordsToCsv.ts
  packages/data-loader/src/printers/printAsCsv/encloseInDoubleQuotes.ts
  packages/data-loader/src/printers/printAsCsv/escapeDoubleQuotes.ts
  packages/data-loader/src/printers/printAsCsv/extractFieldValue.ts
  packages/data-loader/src/printers/printAsCsv/hasSubtable.ts
  packages/data-loader/src/printers/printAsCsv/index.ts
  packages/data-loader/src/printers/printAsJson.ts
  packages/data-loader/src/types.ts
Labels: pkg: data-loader

#832 fix(data-loader): apply accurated types to CLI command builder
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/commands/import.ts
  packages/data-loader/src/main.ts
Labels: pkg: data-loader

#869 feat(dts-gen): print deprecating messages for --host, --proxyHost, and --proxyPort
  packages/dts-gen/src/cli-parser.test.ts
  packages/dts-gen/src/cli-parser.ts
Labels: pkg: dts-gen

#843 chore(data-loader): set a User-Agent string for data-loader
  packages/data-loader/src/__tests__/api.test.ts
  packages/data-loader/src/api.ts
Labels: pkg: data-loader

#870 chore: drop Node v10 support because of the EOL (BREAKING CHANGE)
  .github/workflows/test.yml
  examples/rest-api-client-demo/package.json
  packages/create-plugin/package.json
  packages/customize-uploader/package.json
  packages/data-loader/package.json
  packages/dts-gen/package.json
  packages/plugin-manifest-validator/package.json
  packages/plugin-packer/package.json
  packages/plugin-uploader/package.json
  packages/profile-loader/package.json
  packages/rest-api-client/package.json
  packages/webpack-plugin-kintone-plugin/package.json
Labels: pkg: create-plugin, pkg: customize-uploader, pkg: data-loader, pkg: dts-gen, pkg: plugin-manifest-validator, pkg: plugin-packer, pkg: plugin-uploader, pkg: profile-loader, pkg: rest-api-client, pkg: webpack-plugin-kintone-plugin

#847 feat(dts-gen): Support `kintone.mobile.app.record.getFieldElement()`
  packages/dts-gen/kintone.d.ts
  packages/dts-gen/src/integration-tests/dts-gen-api-test.ts
Labels: feature, pkg: dts-gen

#850 feat(dts-gen): add type definition of `kintone.$PLUGIN_ID`
  packages/dts-gen/kintone.d.ts
  packages/dts-gen/src/integration-tests/dts-gen-api-test.ts
Labels: feature, pkg: dts-gen

#878 feat(data-loader): export attachment files of subtable
  packages/data-loader/README.md
  packages/data-loader/src/controllers/__tests__/export.test.ts
  packages/data-loader/src/controllers/export.ts
Labels: feature, pkg: data-loader

#849 feat(dts-gen): Support Get Space Element API
  packages/dts-gen/kintone.d.ts
  packages/dts-gen/src/integration-tests/dts-gen-api-test.ts
Labels: feature, pkg: dts-gen

#846 feat(dts-gen): Support `kintone.mobile.app.getFieldElements()`
  packages/dts-gen/kintone.d.ts
  packages/dts-gen/src/integration-tests/dts-gen-api-test.ts
Labels: feature, pkg: dts-gen

#893 chore(plugin-uploader): fix typo in package.json
  packages/plugin-uploader/package.json
Labels: pkg: plugin-uploader

#895 fix(data-loader): apply @types/yargs bugfix (DefinitelyTyped/DefinitelyTyped#52624)
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/commands/import.ts
Labels: pkg: data-loader

#882 test(data-loader): fix flaky tests by extending timeout
  packages/data-loader/src/__tests__/main.test.ts
Labels: pkg: data-loader

#889 fix(plugin-uploader): pin puppeteer version to v8
  packages/plugin-uploader/package.json
  yarn.lock
Labels: pkg: plugin-uploader

#907 feat(data-loader): add `--order-by` of export option (BREAKING CHANGE)
  packages/data-loader/README.md
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/controllers/__tests__/export.test.ts
  packages/data-loader/src/controllers/export.ts
Labels: pkg: data-loader
