Repository kintone/js-sdk, pull requests merged in 2021-06, with the labels that each got.

#918 fix(rest-api-client): set `maxBodyLength: Infinity` to avoid ERR_FR_MAX_BODY_LENGTH_EXCEEDED error
  packages/rest-api-client/src/http/AxiosClient.ts
Labels: pkg: rest-api-client

#855 fix(rest-api-client): `baseUrl` is not used when `location` is undefined
  packages/rest-api-client/src/platform/browser.ts
Labels: pkg: rest-api-client

#925 fix(customize-uploader): upload customize files sequentially
  packages/customize-uploader/src/commands/index.ts
Labels: pkg: customize-uploader

#937 chore(rest-api-client): leverage IDE's intellisense in rollup.config.js
  packages/rest-api-client/rollup.config.js
Labels: pkg: rest-api-client

#887 feat(data-loader): generate attachment metadata when export (JSON)
  packages/data-loader/src/controllers/__tests__/export.test.ts
  packages/data-loader/src/controllers/attachments.ts
  packages/data-loader/src/controllers/export.ts
Labels: feature, pkg: data-loader

#954 fix(data-loader): ignore unsupported fields from CSV export
  packages/data-loader/src/printers/printAsCsv/__tests__/buildHeaderFields.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/convertKintoneRecordsToCsv.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/unsupported_fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/unsupported_input.json
  packages/data-loader/src/printers/printAsCsv/buildHeaderFields.ts
Labels: pkg: data-loader
