Repository kintone/js-sdk, pull requests merged in 2021-07, with the labels that each got.

#1002 fix(customize-uploader): pass the value of `--proxy`
  packages/customize-uploader/src/KintoneApiClient.ts
  packages/customize-uploader/src/__tests__/util.test.ts
  packages/customize-uploader/src/util.ts
Labels: pkg: customize-uploader

#972 feat(plugin-manifest-validator): accept new format plugin versions
  packages/plugin-manifest-validator/README.md
  packages/plugin-manifest-validator/manifest-schema.d.ts
  packages/plugin-manifest-validator/manifest-schema.json
  packages/plugin-manifest-validator/src/__tests__/.eslintrc.json
  packages/plugin-manifest-validator/src/__tests__/index.ts
Labels: pkg: plugin-manifest-validator

#975 fix(data-loader): fix attachment metadata schema
  packages/data-loader/src/controllers/__tests__/export.test.ts
  packages/data-loader/src/controllers/attachments.ts
  packages/data-loader/src/controllers/export.ts
Labels: pkg: data-loader

#1019 style(dts-gen): remove prettier config
  packages/dts-gen/package.json
  packages/dts-gen/prettier.config.js
  packages/dts-gen/src/cli-parser.test.ts
  packages/dts-gen/src/cli-parser.ts
  packages/dts-gen/src/converters/fieldtype-converters.test.ts
  packages/dts-gen/src/converters/fileldtype-converter.ts
  packages/dts-gen/src/index.ts
  packages/dts-gen/src/integration-tests/dts-gen-api-test.ts
  packages/dts-gen/src/integration-tests/dts-gen-fields-test.ts
  packages/dts-gen/src/integration-tests/dts-gen-integration-test.ts
  packages/dts-gen/src/integration-tests/setup-test-app.ts
  packages/dts-gen/src/integration-tests/setup-test-utils.ts
  packages/dts-gen/src/integration-tests/testfields.d.ts
  packages/dts-gen/src/kintone/clients/axios-utils.test.ts
  packages/dts-gen/src/kintone/clients/axios-utils.ts
  packages/dts-gen/src/kintone/clients/demo-client.ts
  packages/dts-gen/src/kintone/clients/demo-datas.ts
  packages/dts-gen/src/kintone/clients/demo-fullwidth-symbol-client.ts
  packages/dts-gen/src/kintone/clients/demo-fullwidth-symbols-datas.ts
  packages/dts-gen/src/kintone/clients/forms-client-impl.test.ts
  packages/dts-gen/src/kintone/clients/forms-client-impl.ts
  packages/dts-gen/src/kintone/clients/forms-client.ts
  packages/dts-gen/src/kintone/clients/setup-test-app-client.ts
  packages/dts-gen/src/templates/converter.ts
  packages/dts-gen/src/templates/expressions/expression.test.ts
  packages/dts-gen/src/templates/expressions/expression.ts
  packages/dts-gen/src/templates/expressions/fields.test.ts
  packages/dts-gen/src/templates/expressions/fields.ts
  packages/dts-gen/src/templates/expressions/namespace.test.ts
  packages/dts-gen/src/templates/expressions/namespace.ts
  packages/dts-gen/src/templates/expressions/typedefinitions.test.ts
  packages/dts-gen/src/templates/expressions/typedefinitions.ts
  packages/dts-gen/src/templates/expressions/typescriptfieldtypeconverter.ts
  packages/dts-gen/src/templates/template.test.ts
  packages/dts-gen/src/templates/template.ts
  packages/dts-gen/src/utils/logger.ts
  packages/dts-gen/src/utils/objectvalues.ts
Labels: pkg: dts-gen

#1018 fix(plugin-uploader): change the way of clicking the "Import" button
  packages/plugin-uploader/package.json
  packages/plugin-uploader/src/index.ts
  yarn.lock
Labels: pkg: plugin-uploader

#1024 test(data-loader): move `jest.setTimeout` to top of the file
  packages/data-loader/src/__tests__/main.test.ts
Labels: pkg: data-loader
