Repository kintone/js-sdk, pull requests merged in 2022-05, with the labels that each got.

#1485 fix(rest-api-client): remove trailing slash from baseUrl internally
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/__tests__/KintoneRestAPIClient.test.ts
Labels: pkg: rest-api-client

#1488 fix(examples): Run examples by ts-node
  examples/rest-api-client-demo/package.json
  packages/create-plugin/package.json
  packages/customize-uploader/package.json
  packages/webpack-plugin-kintone-plugin/package.json
Labels: pkg: customize-uploader, pkg: create-plugin, pkg: webpack-plugin-kintone-plugin

#1498 chore(plugin-packer): do not use deprecated api
  packages/plugin-packer/package.json
  packages/plugin-packer/site/index.js
  yarn.lock
Labels: pkg: plugin-packer

#1493 chore!: drop Node v12 support because of the EOL (BREAKING CHANGE)
  .github/workflows/compile-data-loader-binary.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .github/workflows/yamory.yml
  examples/rest-api-client-demo/package.json
  packages/create-plugin/package.json
  packages/customize-uploader/package.json
  packages/data-loader/package.json
  packages/dts-gen/package.json
  packages/plugin-manifest-validator/package.json
  packages/plugin-packer/package.json
  packages/plugin-uploader/package.json
  packages/profile-loader/package.json
  packages/rest-api-client/package.json
  packages/webpack-plugin-kintone-plugin/package.json
Labels: pkg: rest-api-client, pkg: customize-uploader, pkg: plugin-manifest-validator, pkg: dts-gen, pkg: plugin-uploader, pkg: create-plugin, pkg: plugin-packer, pkg: webpack-plugin-kintone-plugin, pkg: data-loader, pkg: profile-loader

#1495 feat(rest-api-client): add `httpsAgent` property to constructor options
  packages/rest-api-client/README.md
  packages/rest-api-client/src/KintoneRequestConfigBuilder.ts
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/__tests__/KintoneRequestConfigBuilder.test.ts
  packages/rest-api-client/src/platform/node.ts
Labels: pkg: rest-api-client

#1513 chore(rest-api-client): fix type error for dom
  packages/rest-api-client/src/__tests__/KintoneRestAPIClient.test.ts
  packages/rest-api-client/src/platform/browser.ts
  packages/rest-api-client/types/global/index.d.ts
Labels: pkg: rest-api-client

#1514 feat(create-plugin): apply ESLint to generated project files
  packages/create-plugin/templates/minimum/src/js/config.js
  packages/create-plugin/templates/minimum/src/js/desktop.js
  packages/create-plugin/templates/minimum/src/js/mobile.js
  packages/create-plugin/templates/modern/src/js/config.ts
  packages/create-plugin/templates/modern/src/js/desktop.ts
  packages/create-plugin/templates/modern/src/js/mobile.ts
  packages/create-plugin/test/e2e.ts
Labels: pkg: create-plugin

#1266 feat(dts-gen): apply eslint to generated `*.d.ts file`
  babel.config.js
  packages/dts-gen/package.json
  packages/dts-gen/resources/test-renderAsFile-fields.d.ts
  packages/dts-gen/src/index.ts
  packages/dts-gen/src/templates/template.test.ts
  packages/dts-gen/src/templates/template.ts
  yarn.lock
Labels: pkg: dts-gen
