Repository kintone/js-sdk, pull requests merged in 2022-06, with the labels that each got.

#1554 Use `this.name` instead of string literal
  packages/webpack-plugin-kintone-plugin/src/index.ts
Labels: pkg: webpack-plugin-kintone-plugin

#1529 fix(webpack-plugin-kintone-plugin): generate plugin.zip when watch begins
  packages/webpack-plugin-kintone-plugin/.gitignore
  packages/webpack-plugin-kintone-plugin/jest.config.js
  packages/webpack-plugin-kintone-plugin/package.json
  packages/webpack-plugin-kintone-plugin/src/__tests__/cli.test.ts
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/.gitignore
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/dist/.gitkeep
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/css/config.css
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/css/desktop.css
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/css/mobile.css
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/html/config.html
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/image/icon.png
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/plugin/manifest.json
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/private.ppk
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/src/config.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/src/desktop.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/src/mobile.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/fixtures/sample/webpack.config.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/helpers/index.ts
  packages/webpack-plugin-kintone-plugin/src/__tests__/index-test.ts
  packages/webpack-plugin-kintone-plugin/src/__tests__/index.test.ts
  packages/webpack-plugin-kintone-plugin/src/__tests__/plugin.test.ts
  packages/webpack-plugin-kintone-plugin/src/__tests__/sample/src/customize.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/sample/webpack.config.customize.name.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/sample/webpack.config.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/sample/webpack.config.not.exists.dir.with.customize.name.js
  packages/webpack-plugin-kintone-plugin/src/__tests__/watch.test.ts
  packages/webpack-plugin-kintone-plugin/src/index.ts
  packages/webpack-plugin-kintone-plugin/src/watch.ts
  yarn.lock
Labels: pkg: webpack-plugin-kintone-plugin

#1568 chore(rest-api-client): drop IE and old iOS support
  packages/rest-api-client/README.md
  packages/rest-api-client/rollup.config.js
Labels: pkg: rest-api-client

#1567 fix(rest-api-client): throw an Error if baseUrl is `http`
  packages/customize-uploader/src/commands/__tests__/import.test.ts
  packages/customize-uploader/src/commands/__tests__/index.test.ts
  packages/rest-api-client/README.md
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/__tests__/KintoneRestAPIClient.test.ts
Labels: pkg: rest-api-client, pkg: customize-uploader

#1458 feat(data-loader): support specify character encoding when import
  packages/data-loader/README.md
  packages/data-loader/package.json
  packages/data-loader/src/commands/import.ts
  packages/data-loader/src/controllers/import.ts
  packages/data-loader/src/utils/__tests__/file.test.ts
  packages/data-loader/src/utils/__tests__/fixtures/expected.ts
  packages/data-loader/src/utils/__tests__/fixtures/input_sjis.csv
  packages/data-loader/src/utils/__tests__/fixtures/input_utf8.csv
  packages/data-loader/src/utils/__tests__/fixtures/input_utf8.json
  packages/data-loader/src/utils/file.ts
  yarn.lock
Labels: pkg: data-loader

#1589 fix(data-loader)!: change default format from JSON to CSV
  packages/data-loader/README.md
  packages/data-loader/src/commands/export.ts
  packages/data-loader/src/commands/import.ts
  packages/data-loader/src/printers/index.ts
Labels: pkg: data-loader

#1590 fix(rest-api-client): throw an error if `location` is undefined on browser
  packages/rest-api-client/src/platform/browser.ts
Labels: pkg: rest-api-client

#1601 feat(data-loader): add executables to releases
  .github/workflows/compile-data-loader-binary.yml
  .github/workflows/release.yml
  packages/data-loader/package.json
Labels: pkg: data-loader
