Repository kintone/js-sdk, pull requests merged in 2022-02, with the labels that each got.

#1308 chore(deps): update js-base64 to v3.x
  packages/rest-api-client/package.json
  packages/rest-api-client/rollup.config.js
  packages/rest-api-client/src/__tests__/KintoneRequestConfigBuilder.test.ts
  yarn.lock
Labels: pkg: rest-api-client

#1334 dts-gen:fix typo isShwon -> isShown
  packages/dts-gen/kintone.d.ts
Labels: pkg: dts-gen

#1349 fix(data-loader): export csv correctly when Table value is empty array
  packages/data-loader/src/printers/printAsCsv/__tests__/convertKintoneRecordsToCsv.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_input_with_empty_table.json
  packages/data-loader/src/printers/printAsCsv/convertKintoneRecordsToCsv.ts
Labels: pkg: data-loader

#1345 feat(data-loader): support User/Department/Group Selection Field
  packages/data-loader/README.md
  packages/data-loader/src/parsers/parseCsv/__tests__/convertToKintoneRecordFormatValue.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/extractSubtableFieldsValue.test.ts
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/expected.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/fields.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/subtable_expected.json
  packages/data-loader/src/parsers/parseCsv/__tests__/fixtures/subtable_fields.json
  packages/data-loader/src/parsers/parseCsv/__tests__/parseCsv.test.ts
  packages/data-loader/src/parsers/parseCsv/convertToKintoneRecordFormatValue.ts
  packages/data-loader/src/parsers/parseCsv/extractSubtableFieldsValue.ts
  packages/data-loader/src/parsers/parseCsv/isImportSupportedFieldType.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/buildHeaderFields.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/convertKintoneRecordsToCsv.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/extractFieldValue.test.ts
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/input.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_fields.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_input.json
  packages/data-loader/src/printers/printAsCsv/__tests__/fixtures/subtable_input_without_attachments_dir.json
  packages/data-loader/src/printers/printAsCsv/buildHeaderFields.ts
  packages/data-loader/src/printers/printAsCsv/extractFieldValue.ts
Labels: pkg: data-loader
