Repository kintone/js-sdk, pull requests merged in 2023-04, with the labels that each got.

#2008 fix: downgrade axios to 0.27.2
  packages/dts-gen/package.json
  packages/dts-gen/src/kintone/clients/axios-utils.test.ts
  packages/dts-gen/src/kintone/clients/axios-utils.ts
  packages/rest-api-client/package.json
  packages/rest-api-client/src/KintoneRequestConfigBuilder.ts
  packages/rest-api-client/src/__tests__/KintoneRequestConfigBuilder.test.ts
  packages/rest-api-client/src/http/HttpClientInterface.ts
  yarn.lock
Labels: pkg: rest-api-client, pkg: dts-gen

#2009 An error is caught, ends with exit status 1
  packages/dts-gen/src/index.ts
Labels: pkg: dts-gen

#2030 chore(rest-api-client): bundle license to UMD file
  packages/rest-api-client/package.json
  packages/rest-api-client/rollup.config.mjs
  yarn.lock
Labels: pkg: rest-api-client
