Repository kintone/js-sdk, pull requests merged in 2023-06, with the labels that each got.

#2137 fix(dts-gen): validate namespace and typename
  packages/dts-gen/docs/field-type-definition-guide.md
  packages/dts-gen/src/cli-parser.ts
  packages/dts-gen/src/index.ts
  packages/dts-gen/src/templates/converter.ts
  packages/dts-gen/src/templates/expressions/namespace.ts
  packages/dts-gen/src/templates/template.ts
  packages/dts-gen/src/validators/__tests__/args.test.ts
  packages/dts-gen/src/validators/args.ts
Labels: pkg: dts-gen

#2143 fix(rest-api-client): return version from package.json instead of hardcode
  packages/rest-api-client/package.json
  packages/rest-api-client/rollup.config.mjs
  packages/rest-api-client/src/platform/browser.ts
  packages/rest-api-client/tsconfig.json
  yarn.lock
Labels: pkg: rest-api-client

#2159 fix(create-plugin): fix `include` of tsconfig
  packages/create-plugin/tsconfig.json
Labels: pkg: create-plugin

#2158 fix(dts-gen): remove unnecessary `exclude` from tsconfig
  packages/dts-gen/docs/how-to-use.md
Labels: pkg: dts-gen
