Repository kintone/js-sdk, pull requests merged in 2023-08, with the labels that each got.

#2212 fix: Ignore warning message in puppeteer
  packages/plugin-uploader/src/index.ts
Labels: pkg: plugin-uploader

#2221 build: replace deprecated packages
  packages/rest-api-client/package.json
  packages/rest-api-client/rollup.config.mjs
  pnpm-lock.yaml
Labels: pkg: rest-api-client

#2242 chore(rest-api-client): correct docs of App APIs
  packages/rest-api-client/docs/app.md
Labels: pkg: rest-api-client

#2253 fix(plugin-manifest-validator): update default non-existent file message
  packages/plugin-manifest-validator/src/__tests__/index.ts
  packages/plugin-manifest-validator/src/index.ts
Labels: pkg: plugin-manifest-validator
