Repository kintone/js-sdk, pull requests merged in 2024-02, with the labels that each got.

#2543 chore(dts-gen): drop --demo option
  packages/dts-gen/.gitignore
  packages/dts-gen/docs/how-to-use.md
  packages/dts-gen/package.json
  packages/dts-gen/src/cli-parser.test.ts
  packages/dts-gen/src/cli-parser.ts
  packages/dts-gen/src/index.ts
  packages/dts-gen/src/validators/__tests__/args.test.ts
Labels: pkg: dts-gen

#2542 chore(plugin-packer): move browserify-sign to pnpm overrides
  package.json
  packages/plugin-packer/package.json
  pnpm-lock.yaml
Labels: pkg: plugin-packer

#2582 feat(rest-api-client): support getSpace API
  examples/rest-api-client-demo/src/run-browser.ts
  examples/rest-api-client-demo/src/run-node.ts
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/README.md
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/KintoneResponseHandler.ts
  packages/rest-api-client/src/KintoneRestAPIClient.ts
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/index.ts
  packages/rest-api-client/src/client/types/space/index.ts
Labels: pkg: rest-api-client

#2593 docs(rest-api-client): modify document corresponding to kintone.dev
  packages/rest-api-client/docs/space.md
Labels: pkg: rest-api-client

#2594 docs(rest-api-client): update the description of `guestSpaceId`
  packages/rest-api-client/README.md
Labels: pkg: rest-api-client

#2590 feat(rest-api-client): add `space.deleteSpace()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/AppClient.ts
  packages/rest-api-client/src/client/BaseClient.ts
  packages/rest-api-client/src/client/BulkRequestClient.ts
  packages/rest-api-client/src/client/FileClient.ts
  packages/rest-api-client/src/client/RecordClient.ts
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
Labels: pkg: rest-api-client
