Repository kintone/js-sdk, pull requests merged in 2024-05, with the labels that each got.

#2720 test: add test case for JsSdkTest-1
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/__e2e__/utils/constants.ts
  packages/create-plugin/__e2e__/utils/executeCommand.ts
  packages/create-plugin/__e2e__/utils/generateWorkingDir.ts
  packages/create-plugin/__e2e__/utils/helper.ts
  packages/create-plugin/__e2e__/utils/verification.ts
  packages/create-plugin/jest.e2e.config.js
  packages/create-plugin/package.json
Labels: pkg: create-plugin

#2735 test(create-plugin): adding teardown process for e2e test
  packages/create-plugin/JestCustomEnvironment.js
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/jest.e2e.config.js
  packages/create-plugin/package.json
  packages/create-plugin/types/global/index.d.ts
  pnpm-lock.yaml
Labels: pkg: create-plugin

#2739 test(create-plugin): add test cases for JsSdkTest-2,3
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/src/messages.ts
  packages/create-plugin/src/qa.ts
Labels: pkg: create-plugin

#2738 test(create-plugin): add test case for JsSdkTest-9
  packages/create-plugin/__e2e__/e2e.test.ts
Labels: pkg: create-plugin

#2727 test(create-plugin): add test case for JsSdkTest-4
  packages/create-plugin/__e2e__/e2e.test.ts
Labels: pkg: create-plugin

#2743 test(create-plugin): add test case for JsSdkTest-14
  packages/create-plugin/__e2e__/e2e.test.ts
Labels: pkg: create-plugin

#2742 test(create-plugin): add test cases for JsSdkTest-10,11,12,13
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/__e2e__/fixtures/allOptions.ts
  packages/create-plugin/__e2e__/fixtures/createKintonePluginCommand.ts
  packages/create-plugin/__e2e__/fixtures/emptyOutputDir.ts
  packages/create-plugin/__e2e__/fixtures/existOutputDir.ts
  packages/create-plugin/__e2e__/fixtures/pluginDescriptionContain200Chars.ts
  packages/create-plugin/__e2e__/fixtures/pluginDescriptionContain201Chars.ts
  packages/create-plugin/__e2e__/fixtures/pluginNameContain64Chars.ts
  packages/create-plugin/__e2e__/fixtures/pluginNameContain65Chars.ts
  packages/create-plugin/__e2e__/fixtures/requiredOptions.ts
  packages/create-plugin/__e2e__/setup.ts
  packages/create-plugin/__e2e__/utils/executeCommand.ts
  packages/create-plugin/jest.e2e.config.js
Labels: pkg: create-plugin

#2711 feat(plugin-uploader): support new Kintone UI
  packages/plugin-uploader/src/controllers/ControllerBase.ts
  packages/plugin-uploader/src/controllers/PluginSystemController.ts
  packages/plugin-uploader/src/index.ts
  packages/plugin-uploader/src/messages.ts
  packages/plugin-uploader/src/pages/OldPluginSystemPage.ts
  packages/plugin-uploader/src/pages/PluginSystemPageInterface.ts
  packages/plugin-uploader/src/pages/ReactPluginSystemPage.ts
Labels: pkg: rest-api-client, pkg: dts-gen, pkg: plugin-uploader, pkg: create-plugin, pkg: webpack-plugin-kintone-plugin

#2763 test(create-plugin): add test cases for JsSdkTest-5,6,7,8
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/__e2e__/fixtures/index.ts
  packages/create-plugin/__e2e__/fixtures/languageEN.ts
  packages/create-plugin/__e2e__/fixtures/languageJA.ts
  packages/create-plugin/__e2e__/fixtures/minimumTemplate.ts
  packages/create-plugin/__e2e__/fixtures/modernTemplate.ts
  packages/create-plugin/__e2e__/utils/CreatePlugin.ts
  packages/create-plugin/__e2e__/utils/executeCommand.ts
  packages/create-plugin/__e2e__/utils/generateWorkingDir.ts
  packages/create-plugin/__e2e__/utils/helper.ts
  packages/create-plugin/__e2e__/utils/verification.ts
Labels: pkg: create-plugin

#2760 fix(create-plugin): exit-code should be non-zero when an error occurs
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/__e2e__/fixtures/forbiddenCharacters.ts
  packages/create-plugin/src/index.ts
Labels: pkg: create-plugin

#2770 feat(create-plugin): show prompt to choose Spanish support
  packages/create-plugin/README.md
  packages/create-plugin/__e2e__/e2e.test.ts
  packages/create-plugin/__e2e__/fixtures/allOptions.ts
  packages/create-plugin/__e2e__/fixtures/createKintonePluginCommand.ts
  packages/create-plugin/__e2e__/fixtures/forbiddenCharacters.ts
  packages/create-plugin/__e2e__/fixtures/index.ts
  packages/create-plugin/__e2e__/fixtures/languageEN.ts
  packages/create-plugin/__e2e__/fixtures/languageJA.ts
  packages/create-plugin/__e2e__/fixtures/minimumTemplate.ts
  packages/create-plugin/__e2e__/fixtures/modernTemplate.ts
  packages/create-plugin/__e2e__/fixtures/pluginDescriptionContain200Chars.ts
  packages/create-plugin/__e2e__/fixtures/pluginNameContain64Chars.ts
  packages/create-plugin/__e2e__/fixtures/requiredOptions.ts
  packages/create-plugin/src/__tests__/qa.test.ts
  packages/create-plugin/src/messages.ts
  packages/create-plugin/src/qa.ts
Labels: pkg: create-plugin

#2772 fix(dts-gen): fix error when running dts-gen globally
  packages/dts-gen/src/templates/template.ts
Labels: pkg: dts-gen

#2781 feat(plugin-manifest-validator): allow and recommend developers to set `$schema` property to manifest.json
  packages/plugin-manifest-validator/README.md
  packages/plugin-manifest-validator/examples/manifest.json
  packages/plugin-manifest-validator/manifest-schema.d.ts
  packages/plugin-manifest-validator/manifest-schema.json
  packages/plugin-manifest-validator/package.json
  packages/plugin-manifest-validator/src/__tests__/index.ts
  packages/plugin-manifest-validator/src/index.ts
  pnpm-lock.yaml
Labels: pkg: plugin-manifest-validator

#2776 fix(plugin-manifest-validator): return warning message if `homepage_url` or `name` is empty
  packages/plugin-manifest-validator/README.md
  packages/plugin-manifest-validator/manifest-schema.json
  packages/plugin-manifest-validator/src/__tests__/check-required-properties.ts
  packages/plugin-manifest-validator/src/__tests__/index.ts
  packages/plugin-manifest-validator/src/check-required-properties.ts
  packages/plugin-manifest-validator/src/index.ts
Labels: pkg: plugin-manifest-validator, pkg: plugin-packer

#2786 test(plugin-manifest-validator): update outdated expected result
  packages/plugin-manifest-validator/src/__tests__/index.ts
Labels: pkg: plugin-manifest-validator

#2782 feat(create-plugin): add default `$schema` value to project templates
  packages/create-plugin/src/__tests__/fixtures/manifest.json
  packages/create-plugin/src/manifest.ts
Labels: pkg: create-plugin

#2789 feat(plugin-packer): print warning messages
  packages/plugin-packer/package.json
  packages/plugin-packer/src/cli.ts
  packages/plugin-packer/src/console.ts
  packages/plugin-packer/test/cli.spec.ts
  pnpm-lock.yaml
Labels: pkg: plugin-packer

#2791 fix: update plugin `manifest-schema.json` URL
  packages/create-plugin/src/__tests__/fixtures/manifest.json
  packages/create-plugin/src/manifest.ts
  packages/plugin-manifest-validator/README.md
  packages/plugin-manifest-validator/examples/manifest.json
Labels: pkg: plugin-manifest-validator, pkg: create-plugin
