Repository kintone/js-sdk, pull requests merged in 2024-03, with the labels that each got.

#2598 feat(rest-api-client): add `space.updateSpaceBody()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
Labels: pkg: rest-api-client

#2603 feat(rest-api-client): add `space.updateSpaceMembers()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/space/index.ts
Labels: pkg: rest-api-client

#2599 feat(rest-api-client): add `space.getSpaceMembers()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/space/index.ts
Labels: pkg: rest-api-client, pkg: dts-gen

#2606 feat(rest-api-client): add `space.updateThread()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/index.ts
Labels: pkg: rest-api-client

#2619 feat(rest-api-client): add `space.addThreadComment()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/space/index.ts
Labels: pkg: rest-api-client

#2622 feat(rest-api-client): add `space.addGuests()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/space/index.ts
Labels: pkg: rest-api-client, pkg: plugin-uploader, pkg: create-plugin

#2621 feat(rest-api-client): add `space.deleteGuests()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
Labels: pkg: rest-api-client

#2625 feat(rest-api-client): add `space.updateSpaceGuests()` method
  examples/rest-api-client-demo/src/run-node.ts
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/index.ts
Labels: pkg: rest-api-client

#2654 docs(rest-api-client): Update reference links
  packages/rest-api-client/docs/space.md
Labels: pkg: rest-api-client

#2638 feat(rest-api-client): add `space.addSpaceFromTemplate()` method
  examples/rest-api-client-demo/src/space.ts
  packages/rest-api-client/docs/space.md
  packages/rest-api-client/src/client/BaseClient.ts
  packages/rest-api-client/src/client/SpaceClient.ts
  packages/rest-api-client/src/client/__tests__/SpaceClient.test.ts
  packages/rest-api-client/src/client/types/index.ts
Labels: pkg: rest-api-client

#2657 chore(deps): remove dependency @types/chokidar
  packages/webpack-plugin-kintone-plugin/package.json
  pnpm-lock.yaml
Labels: pkg: webpack-plugin-kintone-plugin

#2665 docs(rest-api-client): Update space.addThreadComment()
  packages/rest-api-client/docs/space.md
Labels: pkg: rest-api-client

#2669 docs(rest-api-client): fix grammar of readme
  packages/rest-api-client/README.md
Labels: pkg: rest-api-client
