Repository kintone/js-sdk, pull requests merged in 2024-01, with the labels that each got.

#2486 test(rest-api-client): migrate from bundler CLI to API
  packages/rest-api-client/package.json
  packages/rest-api-client/src/__tests__/e2e.rollup.test.ts
  packages/rest-api-client/src/__tests__/e2e.test.ts
  packages/rest-api-client/src/__tests__/e2e.vite.test.ts
  packages/rest-api-client/src/__tests__/e2e.webpack.test.ts
  packages/rest-api-client/src/__tests__/fixtures/rollup/index.ts
  packages/rest-api-client/src/__tests__/fixtures/rollup/rollup.config.mjs
  packages/rest-api-client/src/__tests__/fixtures/vite/index.ts
  packages/rest-api-client/src/__tests__/fixtures/vite/vite.config.mjs
  packages/rest-api-client/src/__tests__/fixtures/webpack/index.ts
  packages/rest-api-client/src/__tests__/fixtures/webpack/webpack.config.mjs
  pnpm-lock.yaml
Labels: pkg: rest-api-client

#2491 test(rest-api-client): skip Vite test for investigating
  packages/rest-api-client/src/__tests__/e2e.vite.test.ts
Labels: pkg: rest-api-client

#2493 chore(plugin-uploader): Add --waiting-dialog-ms option to Readme
  packages/plugin-uploader/README.md
  packages/plugin-uploader/src/cli.ts
Labels: pkg: plugin-uploader

#2477 fix(rest-api-client): fixing maximum call stack size exceeded error
  packages/rest-api-client/src/client/RecordClient.ts
  packages/rest-api-client/src/client/__tests__/RecordClient.test.ts
Labels: bug, pkg: rest-api-client

#2501 chore(plugin-packer): remove unused package
  packages/plugin-packer/package.json
  pnpm-lock.yaml
Labels: pkg: plugin-packer

#2495 test(rest-api-client): replace by Vite CLI
  packages/rest-api-client/src/__tests__/e2e.vite.test.ts
  packages/rest-api-client/src/__tests__/fixtures/vite.config.mjs
Labels: pkg: rest-api-client

#2497 chore(rest-api-client): Add warning message in Readme of getAllRecordsWithOffset
  packages/rest-api-client/docs/record.md
Labels: pkg: rest-api-client

#2503 fix(plugin-packer): Fix the vulnerability issue from browserify-sign
  packages/plugin-packer/package.json
  pnpm-lock.yaml
Labels: pkg: plugin-packer

#2511 fix: override follow-redirects package to resolve vulnerability
  package.json
  pnpm-lock.yaml
Labels: pkg: rest-api-client, pkg: dts-gen, pkg: plugin-packer

#2512 fix(dts-gen): adding type NULL to the error property
  packages/dts-gen/kintone.d.ts
Labels: pkg: dts-gen

#2519 fix(dts-gen): remove unavailable property
  packages/dts-gen/kintone.d.ts
Labels: pkg: dts-gen

#2513 chore!(create-plugin): remove jQuery from the minimum template
  packages/create-plugin/src/__tests__/fixtures/manifest.json
  packages/create-plugin/src/manifest.ts
  packages/create-plugin/templates/minimum/.eslintrc.js
  packages/create-plugin/templates/minimum/src/js/config.js
  packages/create-plugin/templates/minimum/src/js/desktop.js
  packages/create-plugin/templates/minimum/src/js/mobile.js
Labels: pkg: create-plugin
